*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
      font-family: "Zalando Sans SemiExpanded", sans-serif;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
h4,h1,h2,h3,h5,h6,p{
    padding: 0;
    margin:0 ;

    line-height: 0.8;
}
.main1 a{
    margin: 0px 10px;
    color: white;
    font-size: 20px;
}
.nav-link{
    color: #DDDDDD;
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
    
}
.nav-link:hover{
    color: tomato;
    transition: .7s;
}
.bannerPart1{
    padding-top: 300px;
    padding-bottom: 100px;
    background:url(../imges/Banner11.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
}
.navbar{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}
.main2 h4{
    font-size: 22px;
    font-weight: 400;
    color: #DDDDDD;
    padding-top: 65px;
}
.main2 h2{
    font-size: 40px;
    font-weight: 600;
    color: #DDDDDD;
    padding-top: 30px;
}
.main2 h2::after{
    width: 70px;
    height: 4px;
    position: absolute;
    content: "";
    margin-top: 25.5px;
    margin-left:20px ;
    background-color: #DDDDDD;
}
.main2 h5{
    font-size: 14px;
    font-weight: 400;
    color: #DDDDDD;
    padding-top: 30px;
    line-height: 20px;
}
.button1 a{
    padding: 15px 20px;
    background-color:#DDDDDD;
    font-size: 18px;
    font-weight: 500;
    color: #121212;
}

.button1{
    margin-top: 60px;
}
.button1 i{
    margin-left: px;
}

.button1 a:hover{
    color: tomato;
    transition: .7s;
}
.social1 a{
font-size: 20px;
margin-left: 10px;
}
.social1 a{
    padding: 10px 10px;
    background-color:#DDDDDD;
    color: black;
    border-radius: 50%;

}
.social1{
    margin-top: 300px;
}

    