
 
 /* Extra large devices */
@media (min-width: 1200px) { 

 }
 /* Large devices */
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }
 /* Medium devices */
@media (min-width: 768px) and (max-width: 991.98px) { 

 }
 /* Small devices  */
@media (min-width: 576px) and (max-width: 767.98px) { 

 }
  /* Extra small devices */
@media (max-width: 575.98px) {
    /* hadderpart start */
    
    
    /* hadderpart start */
    /* hadderpart start */
    .navbar-toggler i{
        color:white;

    }
    .navbar-nav{
        background-color: #FF4655;
        text-align: center;
        border-radius: 10px;
      

    }
    .main1{
        background-color:#FF4655 ;
        border-radius: 10px;
        height: 100px;
        text-align: center;
        align-items: center;

    }
    .main1 i{
        margin-top: 40px;
    }

/* hadderpart end */
/* bannerpart start */
.bannerPart1 {
    padding-top: 209px;
    padding-bottom: 100px;
    background: url(../imges/Banner11.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.main2 h4 {
    font-size: 15px;
    font-weight: 400;
    color: #DDDDDD;
    padding-top: 0px;
}
.main2 h2 {
    font-size: 20px;
    font-weight: 600;
    color: #DDDDDD;
    padding-top: 13px;
}
.main2 h5 {
    font-size: 12px;
    font-weight: 400;
    color: #DDDDDD;
    padding-top: 15px;
    line-height: 20px;
    padding-right: 89px;
}
.button1 {
    margin-top: 50px;
}
.main5 img{
    width: 100%;
}
.main5::after {
    width: 157px;
    height: 7px;
    position: absolute;
    content: "";
    margin-top: 67.8px;
    margin-left: -488px;
    background-color: #FF4655;
    rotate: calc(90deg);
}
.main4 h3::after {
    width: 110px;
    height: 3px;
    position: absolute;
    content: "";
    margin-top: 17px;
    margin-left: 10px;
    background-color: #DDDDDD;
}
.main2 h2::after {
    width: 70px;
    height: 4px;
    position: absolute;
    content: "";
    margin-top: 14.5px;
    margin-left: 5px;
    background-color: #DDDDDD;
}
.social1 {
    margin-top: 214px;
}
/* bannerpart end */
/* bannerpart1 start */
.div26 {
    position: absolute;
    width: 403px;
    height: 399px;
    background-color: rgb(231, 9, 9);
    border-radius: 10px;
    overflow: hidden;
    top: 250px;
    left: 14px;
}
.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 315px;
    height: 2px;
    background: white;
    border-radius: 4px;
    transition: .5s;
    pointer-events: none;
    z-index: 9;
}
.div27 {
    position: absolute;
    width: 403px;
    height: 733px;
    background-color: rgb(231, 9, 9);
    border-radius: 10px;
    overflow: hidden;
    top: 250px;
    left: 14px;
    display: none;
    z-index: 1;
}
.inputBox1 i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 315px;
    height: 2px;
    background: white;
    border-radius: 4px;
    transition: .5s;
    pointer-events: none;
    z-index: 9;
}
.main4 h3 {
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 18px;
    line-height: 25px;
}
.main5 {
    margin-top: 43px;
    margin-left: 0px;
}
.main6 {
    margin-top: 36px;
    margin-left: 14px;
}
.main6 h4 {
    font-size: 18px;
    font-weight: 550;
    color: #FFFFFF;
}

.main6 ul {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 300;
    padding-top: 17px;
    margin-left: -30px;
}
.main6 p {
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 22px;
}
.one1 {
    background-color: #212121;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    margin-top: 35px;
    padding-bottom: 20px;
}.one2 {
    background-color: #212121;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    margin-top: 35px;
    padding-bottom: 20px;
}.one3 {
    background-color: #212121;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    margin-top: 35px;
    padding-bottom: 20px;
}.one4 {
    background-color: #212121;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    margin-top: 35px;
    padding-bottom: 20px;
}
.one1 h3 {
    font-size: 50px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 42px;
}
.one2 h3 {
    font-size: 50px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 42px;
}
.one3 h3 {
    font-size: 50px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 42px;
}
.one4 h3 {
    font-size: 50px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 42px;
}
/* bannerpart1 end */
/* bannerpart2 start */
.two1 {
    margin-left: 40px;
}
.two1 h3 {
    font-size: 19px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 25px;
}
.two1 h4 {
    font-size: 19px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 9.5px;
    padding-left: 247px;
}
.two1 h4::after {
    width: 105px;
    height: 4px;
    position: absolute;
    content: "";
    margin-top: 11px;
    margin-left: -211px;
    background-color: #FF4655;
}
.two2 {
    margin-top: 56px;
    margin-left: -32px;
}
.two2 img {
    width: 71%;
    margin-top: -106px;
}
.div24 img{
width: 100%;
}
.two3 {
    margin-top: 41px;
    margin-left: 0px;
}
.two3 img{
    width: 100%;
}
/* bannerpart2 end */
/* bannerpart3 start */
.three1 h3 {
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 36.5px;
    padding-top: 23px;
}
.three1 h3::after {
    width: 120px;
    height: 3px;
    position: absolute;
    content: "";
    margin-top: 22px;
    margin-left: 20px;
    background-color: #FF4655;
}
.div1 {
    margin-top: 25px;
    margin-left: 0px;
}
.div1 img{
    width: 100%;
}
.div2 img{
    width: 100%;
}
.div3 img{
    width: 100%;
}

.div2 {
    margin-top: 25px;
     margin-left: 0px;
}
.div3 {
    margin-top: 25px;
     margin-left: 0px;
}
.div4 {
    width: 426px;
    height: 118.05px;
    background: url(../imges/44.png);
    margin-left: -9px;
    margin-top: 50px;
}
.div5 {
    width: 243px;
    height: 118.05px;
    margin-left: 78px;
    margin-top: 0px;
}
.div6 {
    width: 426px;
    height: 118.05px;
    background: url(../imges/55.png);
    margin-left: -10px;
    margin-top: -21px;
}
.div7 {
    width: 426px;
    height: 118.05px;
    background: url(../imges/44.png);
    margin-left: -9px;
    margin-top: 50px;
}
.div8 {
    width: 243px;
    height: 118.05px;
    margin-left: 78px;
    margin-top: 0px;
}
.div9 {
    width: 426px;
    height: 118.05px;
    background: url(../imges/55.png);
    margin-left:-10px;
    margin-top: -21px;
}

/* bannerpart3 end */


/* bannerpart4 start */
.three3 {
    margin-left: 53px;
}
.three3 h3 {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 25px;
}
.three3 h4 {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 9.5px;
    padding-left: 235px;
}
.three3 h4::after {
    width: 105px;
    height: 4px;
    position: absolute;
    content: "";
    margin-top: 9px;
    margin-left: -198px;
    background-color: #FF4655;
}
.div10{
    margin-top: 50px;
    margin-left: 0px;
}
.div10 img{
   width: 100%; 
}
.div11 img{
   width: 100%; 
}
.div12 img{
   width: 100%; 
}
.div13 img{
   width: 100%; 
}
.div11{
    margin-top: 50px;
    margin-left: 0px;
}
.div12{
    margin-top: 50px;
    margin-left: 0px;
}
.div13{
    margin-top: 50px;
    margin-left: 0px;
}
.three7 {
    margin-top: 53px;
    margin-left: 76px;
}
.div14 h4 {
    font-size: 16px;
    font-weight: 500;
    color: #FF4655;
    padding-top: 54px;
    padding-left: 30px;
}
.div14 h3 {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding-left: 30px;
    line-height: 24px;
    padding-top: 18px;
}
.div14 p {
    font-size: 16px;
    font-weight: 700;
    color: #666666;
    padding-left: 30px;
    padding-top: 18px;
    line-height: 25px;
    font-family: "Zalando Sans SemiExpanded", sans-serif;
}
.div14 a {
    padding: 17px 20px;
    background-color: black;
    font-size: 16px;
    font-weight: 600;
    color: white;
    display: inline-block;
    margin-left: 30px;
    margin-top: 20px;
}
.div15 {
    margin-top: 42px;
    margin-left: 0px;
}
.div15 img{
    width: 100%;
}

/* bannerpart4 end */
/* bannerpart5 start */
.four1 h3 {
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 29.5px;
    padding-top: 18px;
}
.four1 h3::after {
    width: 120px;
    height: 3px;
    position: absolute;
    content: "";
    margin-top: 20px;
    margin-left: 20px;
    background-color: #FF4655;
}
.div16 img {
    margin-left: 90px;
}
.div16 a {
    font-size: 18px;
    font-weight: 600;
    color: #FF4655;
    text-align: center;
    text-transform: uppercase;
    margin-left: 143px;
}
.div17 img {
    margin-left: 77px;
}
.div17 a {
    font-size: 18px;
    font-weight: 600;
    color: #FF4655;
    text-align: center;
    margin-top: 20px;
    margin-left: 132px;
    text-transform: uppercase;
}
.div18 img {
    margin-left: 73px;
}

.div18 a {
    font-size: 18px;
    font-weight: 600;
    color: #FF4655;
    text-align: center;
    margin-top: 20px;
    margin-left: 136px;
    text-transform: uppercase;
}
.div19 img {
  margin-left: 90px;
}
.div19 a {
    font-size: 18px;
    font-weight: 600;
    color: #FF4655;
    text-align: center;
    text-transform: uppercase;
    margin-left: 138px;
}
/* bannerpart5 end */
/* bannerpart6 start */
.four6 {
    margin-left: 43px;
}
.four6 h3 {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 25px;
}
.four6 h4 {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 9.5px;
    padding-left: 262px;
}
.four6 h4::after {
    width: 105px;
    height: 4px;
    position: absolute;
    content: "";
    margin-top: 10px;
    margin-left: -185px;
    background-color: #FF4655;
}
.div20 {
    margin-top: 30px;
    margin-left: 0px;
    position: relative;
}
.div20 img{
    width: 100%;
}
.div21 img{
    width: 100%;
}
.div22 img{
    width: 100%;
}
.div23 img{
    width: 100%;
}
.div21 {
    margin-top: 30px;
    margin-left: 0px;
    position: relative;
}
.div22 {
    margin-top: 30px;
    margin-left: 0px;
    position: relative;
}
.div23 {
    margin-top: 30px;
    margin-left: 0px;
    position: relative;
}
.social2 {
    margin-left: 179PX;
    margin-top: -62PX;
}
.overlay {
    width: 100%;
    background-color: #252424;
    opacity: 38%;
    position: absolute;
    top: 102px;
    left: 0px;
    padding-bottom: 12px;
    height: 145px;
}
.overlay h4 {
    font-size: 19px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 9px;
    padding-left: 30px;
}
.overlay h5 {
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF;
    padding-left: 30px;
    padding-top: 20px;
    line-height: 20px;
}
.overlay a {
    padding: 5px 20px;
    background-color: #FF4655;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    margin-left: 30px;
    margin-top: 10px;
    color: white;
    padding-bottom: 50p;
}
.social2 {
    margin-left: 150PX;
    margin-top: -53PX;
}
.social2 a {
    padding: 5PX 5PX;
    background-color: #FF4655;
    border: 2PX solid black;
    border-radius: 50%;
    padding-top: 9px;
    padding-left: 4px;
    font-size: 20px;
}
.overlay1 {
    width: 100%;
    height: 89.65px;
    background-color: #252424;
    opacity: 38%;
    position: absolute;
    top: 158px;
    left: 0px;
}
.overlay1 h3 {
    font-size: 19px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 37px;
    padding-left: 31px;
}
.overlay2 {
    width: 100%;
    height: 89.65px;
    background-color: #252424;
    opacity: 38%;
    position: absolute;
    top: 157px;
    left: 0px;
}
.overlay2 h3 {
    font-size: 19px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 37px;
    padding-left: 31px;
}
.overlay3 {
    width: 100%;
    height: 89.65px;
    background-color: #252424;
    opacity: 38%;
    position: absolute;
    top: 158px;
    left: 0px;
}
.overlay3 h3 {
    font-size: 19px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 37px;
    padding-left: 31px;
}
/* bannerpart6 end */

/* bannerpart7 start */

.class1 h3 {
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 31px;
    padding-top: 20px;
}
.class1 h3::after {
    width: 88.88px;
    height: 3px;
    position: absolute;
    content: "";
    margin-top: 20px;
    margin-left: -2px;
    background-color: #FF4655;
}
.class2 {
    margin-top: 50px;
    width: 89px;
}
.class4 {
    margin-top: 50px;
    width: 89px;
}
.class6 {
  margin-top: 50px;
    width: 89px;
}
.class8 {
    margin-top: 50px;
    width: 89px;
}
.class3 h4 {
    font-size: 14px;
    font-weight: 500;
    color: #FF4655;
    padding-left: 15px;
}
.class3 p {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    padding-top: 25px;
    padding-left: 15px;
    line-height: 25px;
    padding-right: 68px;
}
.class5 h4 {
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    padding-left: 15px;
}
.class5 p {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    padding-top: 25px;
    padding-left: 15px;
    line-height: 25px;
    padding-right: 68px;
}
.class7 p {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    padding-top: 25px;
    padding-left: 15px;
    line-height: 25px;
    padding-right: 68PX;
}
.class7 h4 {
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    padding-left: 15px;
}
.class9 h4 {
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    padding-left: 15px;
}
.class9 p {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    padding-top: 25px;
    padding-left: 15px;
    line-height: 25px;
    padding-right: 68PX;
}
.class10 {
    width: 375px;
    height: 3px;
    position: absolute;
    content: "";
    margin-top: -218px;
    background-color: #666666;
    margin-left: 4px;
}
.class11 {
    width: 375px;
    height: 3px;
    position: absolute;
    content: "";
    margin-top: -458px;
    margin-left: 4px;
    background-color: #666666;
    rotate: none;
}
.class111 {
    width: 375px;
    height: 3px;
    position: absolute;
    content: "";
    margin-top: -694px;
    margin-left: 3px;
    background-color: #666666;
    rotate: none;
}
.class12 h3 {
    font-size: 19px;
    font-weight: 600;
    color: #FFFFFF;
    padding-top: 7px;
    line-height: 26px;
    text-transform: uppercase;
    padding-left: 12px;
}
.class12 {
    width: 572px;
    height: 121px;
    background-color: #FF4655;
    margin-top: 51px;
    position: absolute;
    margin-left: -12px;
}

.class13 {
    margin-top: 9px;
    margin-left: 59px;
}

input {
    width: 310px;
    height: 42px;
    background-color: white;
    border-radius: 50px;
    font-size: 15px;
    padding-left: 20px;
    border: none;
}
.class14 {
    margin-top: -42px;
    margin-left: 155px;
}
button {
    width: 155px;
    height: 42px;
    background-color: black;
    color: #FFFFFF;
    border-radius: 50px;
    font-size: 15px;
    border: none;
}
.bannerPart12 {
    padding-bottom: 84px;
    background: url(../imges/111.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
/* bannerpart7 end */
/* bannerpart8 start */
.class15 img {
    margin-top: 116px;
    margin-left: 146px;
}
.class15 p {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #666666;
    padding-top: 7px;
    line-height: 26px;
    padding-right: 0px;
    text-align: center;
}
.class20 {
    margin-top: 16px;
    margin-left: 100px;
}
.class16 {
    margin-top: 30px;
    margin-left: 66px;
}
.class16 h3 {
    font-size: 25px;
    font-weight: 600;
    color: white;
    padding-left: 0px;
}
.class21 a {
    padding-top: 22px;
    font-weight: 600;
    color: #666666;
    line-height: 51px;
    padding-left: 0px;
}
.class17 {
    margin-top: -224px;
    margin-left: 178px;
}
.class22 li {
    padding-top: 22px;
    font-weight: 600;
    color: #666666;
    line-height: 25px;
    padding-left: 72px;
}
.class18 {
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 31px;
}
.class18 img {
width: 100%;
    margin-top: 20px;
}
.class18 h3 {
    font-size: 25px;
    font-weight: 600;
    color: white;
    padding-left: 138px;
}
.class23 {
    width: 344px;
    height: 3px;
    position: absolute;
    content: "";
    margin-top: 14px;
    background-color: #666666;
    margin-left: 15px;
}
.class24 h4 {
    font-size: 15px;
    font-weight: 400;
    color: white;
    padding-left: 2px;
    text-align: center;
    padding-top: 33px;
}
.class25 {
    font-size: 19px;
    font-weight: 400;
    color: #FF4655;
    text-align: center;
}
.bannerPart13 {
    padding-bottom: 13px;
    background: url(../imges/333.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
/* bannerpart8 end */
}





 